.container {
    margin: auto;
    padding: 20px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.custom-navbar {
    display: flex;
    align-items: center;
    background-color: rgb(15, 96, 218);
}

/* Style the user grid */
#user-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.user-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
